jellycat-env
.env
.DS_Store
.vscode
__pycache__
scraping/__pycache__
debugging.ipynb
notes.txt
data/
etl_from_postgres.py
etl_load_jellycat.py
create_delta_tables.py
jellycat_db.session.sql
crontab.txt